<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= form_for([@query,@comment]) do |f| %>
        <% if @comment.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@comment.errors.count, "error") %> Verifique que todos los datos esten completos:</h2>

            <ul>
            <% @comment.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= f.text_area :body, placeholder: "Escriba su respuesta aqui", class: "form-control"%>
        </div><br>
        <div class="actions">
          <%= f.submit "Enviar", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
