
<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <p id="notice"><%= notice %></p>
      <div class="jumbotron">
        <div class="container">
            <p>
              <strong>Nombre:</strong>
              <%= @user.NomUs %>
            </p>

            <p>
              <strong>Primer Apellido:</strong>
              <%= @user.ApUnoUs %>
            </p>

            <p>
              <strong>Segundo Apellido:</strong>
              <%= @user.ApDosUs %>
            </p>

            <p>
              <strong>Seccion:</strong>
              <%= @user.SecUs %>
            </p>

            <p>
              <strong>Rol:</strong>
              <%= @user.role.nomRole %>
            </p>

            <p>
              <strong>Cedula:</strong>
              <%= @user.CedUs %>
            </p>

            <p>
              <strong>Edad:</strong>
              <%= @user.edadUs %>
            </p>

            <p>
              <strong>Nivel:</strong>
              <%= @user.FK_NivUs %>
            </p>

            <p>
              <strong>Direccion:</strong>
              <%= @user.dirUs %>
            </p>

            <p>
              <strong>Fecha de Ingreso:</strong>
              <%= @user.created_at %>
            </p>

            <%= link_to 'Back', queries_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
