<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= form_for(@evento) do |f| %>
        <% if @evento.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@evento.errors.count, "error") %> prohibited this evento from being saved:</h2>

            <ul>
            <% @evento.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= f.label :NomEven %><br>
          <%= f.text_field :NomEven %>
        </div>
        <div class="field">
          <%= f.label :FecEvent %><br>
          <%= f.date_select :FecEvent %>
        </div>
        <div class="field">
          <strong>Objetivos</strong><br>
          <%= f.text_area :objEven %>
        </div>
        <div class="field">
          <strong>Responsables</strong><br>
          <%= f.text_area :respEven %>
        </div>
        <div class="field">
          <strong>Participantes</strong><br>
          <%= f.text_area :partEven %>
        </div>
        <div class="field">
          <strong>Actividades</strong><br>
          <%= f.text_area :DesEven %>
        </div>
        <div class="actions">
          <%= f.submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>
