<body class="color-blue">
<% if current_user %>
<% if can? :show, Evento %>

<p id="notice"><%= notice %></p>

<div class="container">
  <body class="background-index">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <h1 class="orange">Eventos</h1>
    </div>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <div class="panel panel-default">
      <!-- Default panel contents -->
          <div class="panel-heading">
          <div class="row">
            <div class="col-md-1">
        <%if can? :create, Evento %>
          <%= link_to "", new_evento_path , class: "btn btn-success glyphicon glyphicon-plus" %>
        <%end%>
          </div>
          </div>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>Nomeven</th>
                <th>Deseven</th>
                <th>Fecevent</th>
                <th>User</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @eventos.each do |evento| %>
                <tr>
                  <td><%= evento.NomEven %></td>
                  <td><%= evento.DesEven %></td>
                  <td><%= evento.FecEvent %></td>
                  <td><%= evento.user.NomUs %></td>
                  <% if can? :read, Evento %>
                    <td><%= link_to '', evento, class: "btn btn-primary glyphicon glyphicon-eye-open" %></td>
                  <% end %>
                  <% if can? :update, evento %>
                    <td><%= link_to '', edit_evento_path(evento), class: "btn btn-info glyphicon glyphicon-pencil" %></td>
                  <% end %>
                  <% if can? :destroy, evento %>
                    <td><%= link_to '', evento, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning glyphicon glyphicon-trash" %></td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>

          <br>
        </div>
      </div>
    </div>
  </div>
  <%else%>
    <div class="alert alert-danger" role="alert">No estas Autorizado</div>
  <%end%>
<%else%>
  <div class="alert alert-danger" role="alert">No estas Autorizado</div>
<%end%>

</body>


