

<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <h1>Eventos</h1>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="panel panel-default">
  <!-- Default panel contents -->
      <div class="panel-heading">
      <div class="row">
        <div class="col-md-1">
          <%if can? :create, Evento %>
         <%= link_to "", new_evento_path, class: "btn btn-success glyphicon glyphicon-plus" %>
        <%end%>
        </div>
      </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Lugar</th>
            <th>Fecha</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @eventos.each do |evento| %>
            <tr>
            <td><%= evento.NomEven %></td>
            <td><%= evento.LugEven %></td>
            <td><%= evento.FechEven.strftime("%D a las  %H:%M") %></td>
            <td><%= link_to '', evento, class: "btn btn-primary glyphicon glyphicon-eye-open" %></td>
            <% if can? :update, Evento %>
              <td><%= link_to "", edit_evento_path(evento), class: "btn btn-info glyphicon glyphicon-pencil" %></td>
            <%end%>
            <% if can? :delete, Evento %>
                    <td><%= link_to '', evento, class: "btn btn-warning glyphicon glyphicon-trash", method: :delete, data: { confirm: 'Are you sure?' } %>
                    </td>  
            <%end%>
          </tr>
          <% end %>
        </tbody>
        
      </table>
    </div>
  </div>
</div>
