<p id="notice"><%= notice %></p>

<p>
  <strong>Nomeven:</strong>
  <%= @evento.NomEven %>
</p>

<p>
  <strong>Deseven:</strong>
  <%= @evento.DesEven %>
</p>

<p>
  <strong>Fecevent:</strong>
  <%= @evento.FecEvent %>
</p>

<p>
  <strong>User:</strong>
  <%= @evento.user.NomUs %>
</p>

<%= link_to 'Edit', edit_evento_path(@evento) %> |
<%= link_to 'Back', eventos_path %>
