<% if current_user %>
<% if can? :show, Evento %>
<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <p id="notice"><%= notice %></p>
      <div class="jumbotron">
        <div class="container">

			<p>
			  <strong>Evento:</strong>
			  <%= @evento.NomEven %>
			</p>

			<p>
			  <strong>Fecha del evento:</strong>
			  <%= @evento.FecEvent %>
			</p>

			<p>
			  <strong>Objetivos:</strong>
			  <%= @evento.objEven %>
			</p>

			<p>
			  <strong>Responsables:</strong>
			  <%= @evento.respEven %>
			</p>

			<p>
			  <strong>Participantes:</strong>
			  <%= @evento.partEven %>
			</p>

			<p>
			  <strong>Actividades:</strong>
			  <%= @evento.DesEven %>
			</p>

			<p>
			  <strong>Usuario:</strong>
			  <%= @evento.user.NomUs %>
			</p>
			<br>
			<p><%= link_to "Ir al listado de Eventos", eventos_path %></p>
		</div>
	</div>
</div>

<%else%>
  <div class="alert alert-danger" role="alert">No estas Autorizado</div>
<%end%>
<%else%>
  <div class="alert alert-danger" role="alert">No estas Autorizado</div>
<%end%>
