<p id="notice"><%= notice %></p>

<h1>Listing Prestamos</h1>

<table>
  <thead>
    <tr>
      <th>I fk lib</th>
      <th>Cedus</th>
      <th>Fecsol</th>
      <th>Fecdev</th>
      <th>Fecpre</th>
      <th>I fk prestamo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prestamos.each do |prestamo| %>
      <tr>
        <td><%= prestamo.i_FK_lib %></td>
        <td><%= prestamo.CedUs %></td>
        <td><%= prestamo.FecSol %></td>
        <td><%= prestamo.FecDev %></td>
        <td><%= prestamo.FecPre %></td>
        <td><%= prestamo.i_FK_Prestamo %></td>
        <td><%= link_to 'Show', prestamo %></td>
        <td><%= link_to 'Edit', edit_prestamo_path(prestamo) %></td>
        <td><%= link_to 'Destroy', prestamo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prestamo', new_prestamo_path %>
