<p id="notice"><%= notice %></p>

<h1>Listing Prestamos</h1>

<table>
  <thead>
    <tr>
      <th>Fecsol</th>
      <th>Fecdev</th>
      <th>User</th>
      <th>Libro</th>
      <th>Prestamo estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prestamos.each do |prestamo| %>
      <tr>
        <td><%= prestamo.fecSol %></td>
        <td><%= prestamo.fecDev %></td>
        <td><%= prestamo.user.NomUs %></td>
        <td><%= prestamo.libro.TitLib %></td>
        <td><%= prestamo.prestamo_estado.nomEstPres %></td>
        <td><%= link_to 'Show', prestamo %></td>
        <td><%= link_to 'Edit', edit_prestamo_path(prestamo) %></td>
        <td><%= link_to 'Destroy', prestamo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prestamo', new_prestamo_path %>
