<% if current_user %>
<p id="notice"><%= notice %></p>
<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="jumbotron">
        <div class="container">
          <p>
            <strong>Fecsol:</strong>
            <%= @prestamo.fecSol %>
          </p>

          <p>
            <strong>Fecdev:</strong>
            <%= @prestamo.fecDev %>
          </p>

          <p>
            <strong>User:</strong>
            <%= @prestamo.user.NomUs %>
          </p>

          <p>
            <strong>Libro:</strong>
            <%= @prestamo.libro.TitLib %>
          </p>

          <p>
            <strong>Prestamo estado:</strong>
            <%= @prestamo.prestamo_estado.nomEstPres %>
          </p>
          <div class >
            <%= link_to "Imprimir Prestamo", prestamo_path(@prestamo, format: "pdf", class: "btn btn-primary") %>
          </div>
        </div>
      </div>
    </div>
</div>

<%else%>
  <div class="alert alert-danger" role="alert">No estas Autorizado</div>
<%end%>
