<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nomItem %><br>
    <%= f.text_field :nomItem %>
  </div>

  <div class="field">
    <%= f.label :desItem %><br>
    <%= f.text_area :desItem %>
  </div>
  <div class="field">
    <%= f.label :canItem %><br>
    <%= f.text_field :canItem %>
  </div>  
  <div class="field">
    <strong>Lugar</strong><br>
    <%= collection_select(:item, :place_id, Place.all, :id, :NomPlace, prompt: true) %>
  </div>
  <div class="field">
    <strong>Categoria</strong><br>
    <%= collection_select(:item, :category_id, Category.all, :id, :nomCategory, prompt: true) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
