<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= form_for @libro do |f| %>
          <div class="form-group">
            <strong>Fecha del Libro</strong><br>
            <%= f.date_select :fecLib,  class: "form-control input-lg", placeholder: "Fecha del libro" %>
          </div>
            <div class="form-group">
              <%= f.text_field :AutLib,  class: "form-control input-lg", placeholder: "Autor" %>
            </div>
            <div class="form-group">
              <%= f.text_field :TitLib, class: "form-control input-lg", placeholder: "Titulo" %>
            </div>
            <div class="form-group">
            <strong>Editorial:</strong>
              <%= collection_select(:lang_id, 0, Editorial.all, :id, :NomEdi) %><br>
              <%= f.text_field :NomEdi,  class: "form-control input-lg", placeholder: "Agregar nueva Editorial" %>
            </div>
            <div class="form-group">
              <%= f.text_field :EdiLib,  class: "form-control input-lg", placeholder: "Edicion" %>
            </div>
            <div class="form-group">
              <%= f.text_field :LugLib,  class: "form-control input-lg", placeholder: "Lugar"%>
            </div>
            <div class="form-group">
            <%= f.text_field :anioLib,  class: "form-control input-lg", placeholder: "A;o"%>
          </div>
          <div class="form-group">
            <%= f.text_area :ObsLib,  class: "form-control input-lg", placeholder: "Observaciones"%>
          </div>
          <div class="form-group">
            <%= f.text_area :Deslib, class: "form-control input-lg", placeholder: "Descripcion"%>
          </div>
          <div class="form-group">
            <%= f.text_field :CantLib,  class: "form-control input-lg", placeholder: "Cantidad" %>
          </div>
          <div class="form-group">
            <%= f.text_field :DisLib,  class: "form-control input-lg", placeholder: "Disponibles"%>
          </div>
          <div class="form-group">
            <%= f.text_field :CodDewLib, class: "form-control input-lg", placeholder: "Codigo Deway"%>
          </div>

        <div class="text-center">
          <%= f.submit "Aceptar",class: "btn btn-primary" %>
        </div>
      <% end %>


  </div>
</div>
</div>
<br>
<br>
<br>
<br>
