<%= form_for(@libro) do |f| %>
  <% if @libro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@libro.errors.count, "error") %> prohibited this libro from being saved:</h2>

      <ul>
      <% @libro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :TitLib %><br>
    <%= f.text_field :TitLib %>
  </div>
  <div class="field">
    <%= f.label :AutLib %><br>
    <%= f.text_field :AutLib %>
  </div>
  <div class="field">
    <%= f.label :EdicLib %><br>
    <%= f.text_field :EdicLib %>
  </div>
  <div class="field">
    <%= f.label :AnioLib %><br>
    <%= f.number_field :AnioLib %>
  </div>
  <div class="field">
    <%= f.label :FecLib %><br>
    <%= f.datetime_select :FecLib %>
  </div>
  <div class="field">
    <%= f.label :LugLib %><br>
    <%= f.text_field :LugLib %>
  </div>
  <div class="field">
    <%= f.label :ObsLib %><br>
    <%= f.text_area :ObsLib %>
  </div>
  <div class="field">
    <%= f.label :DesLib %><br>
    <%= f.text_area :DesLib %>
  </div>
  <div class="field">
    <%= f.label :CantLib %><br>
    <%= f.number_field :CantLib %>
  </div>
  <div class="field">
    <%= f.label :Disp %><br>
    <%= f.number_field :Disp %>
  </div>
  <div class="field">
    <%= f.label :CodDewLib %><br>
    <%= f.text_field :CodDewLib %>
  </div>
  <div class="field">
    <strong>Editorial</strong> <br>
    <%= collection_select(:libro, :editorial_id, Editorial.all, :id, :NomEdi, prompt: true) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
