<p id="notice"><%= notice %></p>

<h1>Listing Libros</h1>

<table>
  <thead>
    <tr>
      <th>Titlib</th>
      <th>Autlib</th>
      <th>Ediclib</th>
      <th>Aniolib</th>
      <th>Feclib</th>
      <th>Luglib</th>
      <th>Obslib</th>
      <th>Deslib</th>
      <th>Cantlib</th>
      <th>Disp</th>
      <th>Coddewlib</th>
      <th>Editorial</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @libros.each do |libro| %>
      <tr>
        <td><%= libro.TitLib %></td>
        <td><%= libro.AutLib %></td>
        <td><%= libro.EdicLib %></td>
        <td><%= libro.AnioLib %></td>
        <td><%= libro.FecLib %></td>
        <td><%= libro.LugLib %></td>
        <td><%= libro.ObsLib %></td>
        <td><%= libro.DesLib %></td>
        <td><%= libro.CantLib %></td>
        <td><%= libro.Disp %></td>
        <td><%= libro.CodDewLib %></td>
        <td><%= libro.editorial.NomEdi %></td>
        <td><%= link_to 'Show', libro %></td>
        <td><%= link_to 'Edit', edit_libro_path(libro) %></td>
        <td><%= link_to 'Destroy', libro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Libro', new_libro_path %>
