<% if current_user %>
<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <p id="notice"><%= notice %></p>
      <div class="jumbotron">
        <div class="container">
          
           <div class="page-header">
            <h1><%= @libro.TitLib %><small> <%= @libro.AutLib %></small></h1>
          </div> 

          <p>
            <strong>Editorial:</strong>
            <%= @libro.editorial.NomEdi %>
          </p>

          <p>
            <strong>Edición:</strong>
            <%= @libro.EdicLib %>
          </p>

          <p>
            <strong>Año:</strong>
            <%= @libro.AnioLib %>
          </p>

          <p>
            <strong>Fecha del libro:</strong>
            <%= @libro.FecLib %>
          </p>

          <p>
            <strong>Lugar del libro:</strong>
            <%= @libro.LugLib %>
          </p>

          <p>
            <strong>Observaciónes:</strong>
            <%= @libro.ObsLib %>
          </p>

          <p>
            <strong>Descripción:</strong>
            <%= @libro.DesLib %>
          </p>

          <p>
            <strong>Cantridad:</strong>
            <%= @libro.CantLib %>
          </p>

          <p>
            <strong>Disponibles:</strong>
            <%= @libro.Disp %>
          </p>

          <p>
            <strong>Codígo Deway:</strong>
            <%= @libro.CodDewLib %>
          </p>

        </div>
      </div>
    </div>
  </div>
  <br>
  <br>

<<%else%>
  <div class="alert alert-danger" role="alert">No estas Autorizado</div>
<%end%>