<div class="row-center">
  <div class="col-md-6 col-md-offset-4">
<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <h1><%= @libro.TitLib %></h1>
  <div>

      <p>
        <strong>Feclib:</strong>
        <%= @libro.fecLib %>
      </p>

      <p>
        <strong>Autor:</strong>
        <%= @libro.AutLib %>
      </p>

      <p>
        <strong>Titulo:</strong>
        <%= @libro.TitLib %>
      </p>

      <p>
        <strong>Edicion:</strong>
        <%= @libro.EdiLib %>
      </p>

      <p>
        <strong>Lugar del Libro:</strong>
        <%= @libro.LugLib %>
      </p>

      <p>
        <strong>Editorial:</strong>
        <%= @libro.NomEdi %>
        <%= @libro.id_edi %>
      </p>

      <p>
        <strong>Año del libro:</strong>
        <%= @libro.anioLib %>
      </p>

      <p>
        <strong>Observacion del Libro:</strong>
        <%= @libro.ObsLib %>
      </p>

      <p>
        <strong>Descripcion del Libro:</strong>
        <%= @libro.Deslib %>
      </p>

      <p>
        <strong>Cantidad:</strong>
        <%= @libro.CantLib %>
      </p>

      <p>
        <strong>Disponibles:</strong>
        <%= @libro.DisLib %>
      </p>

      <p>
        <strong>Codigo Dewey:</strong>
        <%= @libro.CodDewLib %>
      </p>
    </div>
    </div>  
  </div>
</div>