<p id="notice"><%= notice %></p>

<p>
  <strong>Titlib:</strong>
  <%= @libro.TitLib %>
</p>

<p>
  <strong>Autlib:</strong>
  <%= @libro.AutLib %>
</p>

<p>
  <strong>Ediclib:</strong>
  <%= @libro.EdicLib %>
</p>

<p>
  <strong>Aniolib:</strong>
  <%= @libro.AnioLib %>
</p>

<p>
  <strong>Feclib:</strong>
  <%= @libro.FecLib %>
</p>

<p>
  <strong>Luglib:</strong>
  <%= @libro.LugLib %>
</p>

<p>
  <strong>Obslib:</strong>
  <%= @libro.ObsLib %>
</p>

<p>
  <strong>Deslib:</strong>
  <%= @libro.DesLib %>
</p>

<p>
  <strong>Cantlib:</strong>
  <%= @libro.CantLib %>
</p>

<p>
  <strong>Disp:</strong>
  <%= @libro.Disp %>
</p>

<p>
  <strong>Coddewlib:</strong>
  <%= @libro.CodDewLib %>
</p>

<p>
  <strong>Editorial:</strong>
  <%= @libro.editorial.NomEdi %>
</p>

<%= link_to 'Edit', edit_libro_path(@libro) %> |
<%= link_to 'Back', libros_path %>
