<p id="notice"><%= notice %></p>

<p>
  <strong>Tema:</strong>
  <%= @query.NomCon %>
</p>

<p>
  <strong>Informacion Solicitada:</strong>
  <%= @query.info_solic %>
</p>

<p>
  <strong>Proposito:</strong>
  <%= @query.propCons %>
</p>

<p>
  <strong>Asignatura:</strong>
  <%= @query.signatura.nomSig %>
</p>

<p>
  <strong>Libros solcitados:</strong>
  <%= @query.NomCon %>
</p>

<p>
  <strong>Seccion:</strong>
  <%= @query.seccion %>
</p>

<p>
  <strong>Para que dia necesita la inforamacion:</strong>
  <%= @query.FecCon %>
</p>

<p>
  <strong>Consulte la informacion solicitada</strong>
  <%= @query.DesCon %>
</p>

<p>
  <strong>User:</strong>
  <%= @query.user.NomUs %>
</p>

<p>
  <strong>Query state:</strong>
  <%= @query.query_state.DeState %>
</p>

<%= link_to 'Edit', edit_query_path(@query) %> |
<%= link_to 'Back', queries_path %>
