<body class="color-blue">
<% if current_user %>
<% if can? :show, Query %>
<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <p id="notice"><%= notice %></p>
      <div class="jumbotron">
        <div class="container">
          
           <div class="page-header">
            <h1><%= @query.NomCon %><small> <%= @query.user.NomUs %></small></h1>
          </div> 
            <p>
              <strong class="orange">Tema:</strong>
              <%= @query.NomCon %>
            </p>

            <p>
              <strong class="orange">Información Solicitada:</strong>
              <%= @query.info_solic %>
            </p>

            <p>
              <strong class="orange">Proposito:</strong>
              <%= @query.propCons %>
            </p>

            <p>
              <strong class="orange">Asignatura:</strong>
              <%= @query.signatura.nomSig %>
            </p>

            <p>
              <strong class="orange">Libros consultados:</strong>
              <%= @query.NomCon %>
            </p>

            <p>
              <strong class="orange">Sección:</strong>
              <%= @query.seccion %>
            </p>

            <p>
              <strong class="orange">Para que día necesita la inforamación:</strong>
              <%= @query.FecCon %>
            </p>

            <p>
              <strong class="orange">Consulte la información solicitada</strong>
              <%= @query.DesCon %>
            </p>

            <p>
              <strong class="orange">Usuario:</strong>
              <%= @query.user.NomUs %>
            </p>

            <p>
              <strong class="orange">Estado Consulta:</strong>
              <%= @query.query_state.DeState %>
            </p>
            <p><%= link_to 'Ir a la lista de Consultas', queries_path %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>

 
 
<div class= "text-center">
  <h2>Respuestas</h2>
<% @query.comments.each do |comment| %>
 
  <p>
    <strong>Respuesta:</strong>
    <%= comment.body %>
  </p>
<% end %>
 
<h2>Agregar respuestas:</h2>
<%= form_for([@query, @query.comments.build]) do |f| %>
  
  <p>
    <strong>Texto</strong><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit "Agregar Respuesta", class: "btn btn-primary" %>
  </p>
<% end %>

</div>
 

    <br><br><br><br>

  <%else%>
    <div class="alert alert-danger" role="alert">No estas Autorizado</div>
  <% end %>
  <% end %>
</body>
