<%= form_for(@consult) do |f| %>
  <% if @consult.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@consult.errors.count, "error") %> prohibited this consult from being saved:</h2>

      <ul>
      <% @consult.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :NomConsulta %><br>
    <%= f.text_field :NomConsulta %>
  </div>
  <div class="field">
    <%= f.label :DesConsulta %><br>
    <%= f.text_area :DesConsulta %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
