
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= form_for(@editorial) do |f| %>
        <% if @editorial.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@editorial.errors.count, "error") %> Verifique que todos los datos esten completos:</h2>

            <ul>
            <% @editorial.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <strong>Nombre Editorial</strong><br>
          <%= f.text_field :NomEdi, autofocus: true, class: "form-control" %>
        </div>
        <br>
        <div class="actions">
          <%= f.submit "Aceptar", class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
