<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Escuela Monterrey</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <!-- SE  visualiza el navegador -->
      <%= render 'layouts/header' %>
    </header>
    <div class="alert alert-success" role="alert" style="display: none;"></div>
    
       <!-- SE  visualiza el footer -->
       <%= render 'layouts/footer' %>
       <%= yield %>
  </body>
</html>



